* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background: rgb(142, 197, 233);
}
.container .form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 40%;
}
.form h1 {
  text-align: center;
  margin-top: 11.2px;
  margin-bottom: 24px;
}
input[type='email'],
input[type='password'] {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  background: none;
  margin: 14.4px 32px;
  font-size: 16px;
}
label {
  margin: 0 32px;
}
span {
  margin: 0 32px;
  color: rgb(47, 47, 168);
  cursor: pointer;
}
button {
  margin: 16px;
  margin-bottom: 24px;
  padding: 9px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  font-size: 17.6px;
  font-weight: bolder;
  color: #fff;
  background: black;
}
button:hover {
  background: grey;
}

@media (max-width: 501px) {
  html {
    font-size: 15px;
  }
  .container .form {
    width: 300px;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container .form {
    width: 450px;
  }
}
@media (min-width: 765px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
  .container .form {
    width: 540px;
    height: 550px;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .container {
    height: 100vmax;
  }
}
